<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>soc-net-icons go here</p>
      </div>
      <div class="col-xs-8">
      <div class="row">
        <ul class="list-inline">
          <li>About</li>
          <li>Terms</li>
          <li>Privacy</li>
          <li>FAQ</li>
          <li>Thanks</li>
        </ul>
      </div>
        <div class="row text-center">
          <p class="muted credit">
            &copy; 2015<%= " - " + Time.now.year if Time.now.year != 2015 %>, <a href="#">Story Problem Solutions</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>