<div class="container">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2>Invites You've Sent</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="lead">//TODO</p>
        <p class="lead">Create a controller action to populate this view.</p>
      </div>
    </div>
  </div>
</div>