<div class="container">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2>All Right!</h2>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="lead">We just sent a text message to your phone.</p>
        <p class="lead">Now give your new friend his/her phone back!</p>
      </div>
    </div>
  </div>
</div>