<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2>Frequently Asked Questions</h2>
    </div>
    <p class="lead">Not necessarily about this product, specifically.</p>
    <ol>
      <li>How are you doing?</li>
      <li>What's for dinner?</li>
      <li>What were you <em>thinking???</em></li>
    </ol>
  </div>
</div>

