<div id="cbp-fbscroller" class="cbp-fbscroller">
  <section id="fbsection1">
  
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <%= render 'partials/flash' %>
      <div class="well">
        <p class="lead">When a business card isn't enough, really *connect* with</p>
        <h1>TurboLink</h1>
      </div>
    </div>
    
  </section>
  <section id="fbsection2"></section>
</div>
