<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2>Privacy Policy</h2>
    </div>
    <p class="lead">There is no privacy policy.</p>
    <p>At this point, TurboLink has no privacy policy whatsoever. We could be worse than the NSA for all you know.</p>
  </div>
</div>
