<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <div class="page-header">
      <h2>Terms</h2>
    </div>
    <p class="lead">There are no terms.</p>
    <p>What? You think I'm gonna hire a lawyer to write up a bunch of legalese for a class project? Are you kidding me?</p>
  </div>
</div>