<div class="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="page-header">
      <h2>Acknowledgements</h2>
    </div>
    <p class="lead">Thank You So Much</p>
    <p>On the face of it, the initial development of this app has been a "solo" 
      project. But to call it such would eb to ignore the contributions and 
      sacrifices of many people, without whom none of this would have been 
      possible.</p>
    <h4>GA</h4>
    <p>First and foremost, I'd like to thank my instructors, Anil and Lenny,
      and all of my classmates at General Assembly, Seattle. The last three
      months have truly been an "invensive" learning experience, and you guys
      made it fun. Thank you. You are all amazing and I'm so glad to have been
      a part of it.</p>
    <h4>The Community</h4>
    <p>Next, I'd like to acknowledge everyone in the Open Source community—everyone
      from the immortals like Matz and TJ, down to the everyday hackers who just hope to get a pull
      request accepted every once in a while. Without your generosity and devotion,
      we'd live it a much less interesting world, technology-wise.</p>
    <h4>My Family</h4>
    <p>Most importantly, I thank my family, especially my parents and my beautiful
      bride, Jennifer, for their seemingly unending patience, generosity, sacrifice 
      and support.</p>
    <p>Thank you all,</p>
    <p>Paul Howard <br>
       Seattle, WA, USA <br>
       24 February, 2015</p>
  </div>
</div>