//= depend_on_asset "phone.jpg"
//= depend_on_asset "2.jpg"

/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
  height: 100%;
  padding-top: 15px;
  font-family: avenir, helvetica, arial, sans-serif;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#fbsection1 {
  background-image: url(image_path("phone.jpg"));
}

#fbsection2 {
  background-image: url(image_path("2.jpg"));
}

#headline {
  position: absolute;
  display: block;
  top: 80%;
  width: 70%;
  left: 15%;
  height: 100px;
  margin-top: 25%;
  color: #FFF;
  text-shadow: 0 0 10px #000;
  text-align: center;
  line-height: 3.0;
  z-index: 99;
}

#headline button {
  margin-top: 5%;
}