//= depend_on_asset "phone.jpg"
//= depend_on_asset "2.jpg"

/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
  height: 100%;
  font-family: avenir, helvetica, arial, sans-serif;
  /* The html and body elements cannot have any padding or margin for sticky footer to work. */
}

 /* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 50px 0 120px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 120px;
  background-color: #dfdfdf;
  padding-top: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* background-attachment does the trick */
.cbp-fbscroller section {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  /*background-attachment: fixed;*/

  height: 100%;
  width: 100%;
}

#fbsection1 {
  background-image: url(image_path("phone.jpg"));
}

#fbsection2 {
  background-image: url(image_path("2.jpg"));
}

#headline {
  position: absolute;
  display: block;
  top: 80%;
  width: 70%;
  left: 15%;
  height: 100px;
  margin-top: 8%;
  color: #FFF;
  text-shadow: 0 0 10px #000;
  text-align: center;
  line-height: 3.0;
  z-index: 99;
}

#headline h1 {
  font-size: 5.5vw;
}

#headline button {
  margin-top: 5%;
}