<div class="container">
  <div class="col-xs-12">
      <h1>Validation Testing</h1>
      <p class="lead">This page is for testing purposes only.</p>
      <div class="row">
        <p><%= '@validation: ' + @validation.inspect %></p>
      </div>
      <div class="row">
        <p><%= '@message: ' + @message.inspect %></p>
      </div>
      <div class="row">
        <p><%= 'uuid: ' + @uuid %></p>
      </div>
  </div>
</div>
