<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Enter your Sooper Seekrit Access Code here:</h1>
      <form action="">
        <input type="text">
        <button type="submit" class="btn btn-block btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>